* {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-gap: 0;
}

.grid-item {
  padding: 0;
  background-color: rgb(167, 173, 133);
  border: 0.5px solid rgb(199, 16, 16);
}

.btns {
  margin-top: 50px;
  position: absolute;
  bottom: 53%;
  z-index: 9999;
}

#color {
  width: 100px;
  background-color: blue;
}

#eraser {
  width: 100px;
  background-color: red;
}
