* {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-gap: 0;
}

.grid-item {
  padding: 0;
  background-color: rgb(167, 173, 133);
  border: 0.5px solid rgb(199, 16, 16);
  text-align: center;
}
